@font-face {
  font-family: 'ombudsman';
  src: url('./fonts/ombudsman/Ombudsman.otf') format('truetype');
  font-weight: normal;
}

:root {
  --elements: rgb(57, 52, 49);
  --background: rgb(189, 158, 67);
}

body {
  font-family: 'ombudsman', sans-serif;
  background-color: var(--background);
  color: var(--elements);
  font-size: 75px;
  margin: 0;
  padding: 0;
}


.sign {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 650px;
  padding: 0 30px 0 30px;
}

.title{
  display: flex;
  border: 5px solid var(--elements);
  border-right: none;
  border-left: none;
  margin: 0 auto;
  padding: 0 30px 0 30px;
}

.subtitle {
  width: 600px;
  padding: 0 0 0 60px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.message, .message2 {
  display: inline-block;
  padding: 0 0 0 60px;
  line-height: 100px;
}

.message2 {
  margin: -220px 0 0 0;
  border-bottom: 5px solid var(--elements);
}

img {
  height: 500px;
  width: auto;
  margin-top: 20px;
  padding: 0 25px 0 0;
}



.caution-bar,
.caution-bar2 {
  display: flex;
  height: 135px;
  width: 100%;
  margin: none;
  background-image: 
    repeating-linear-gradient(-45deg,
    transparent, transparent 2rem, 
    var(--elements) 2rem, 
    var(--elements) 4rem);
}

.caution-bar {
  margin-bottom: 50px;
}

.caution-bar2 {
  margin-top: 50px
}